# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
.env/
.venv/

# Pytest
.pytest_cache/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# GitHub Actions
!.github/ 